# VS Code
.vscode/
launch.json

# Node dependencies
/node_modules/
/.pnp
.pnp.*
.yarn/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build / production
/.next/
/out/
/build

# Testing & reports
/coverage/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# GitHub
.github/

# OS / misc
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel/
