:root {
  --spacing-sm: 0.5rem;    /* 8px */
  --spacing-md: 1rem;      /* 16px */
  --spacing-lg: 1.5rem;    /* 24px */
  --spacing-xl: 3rem;      /* 48px */
}

body {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  
}

body.loaded {
  opacity: 1;
}


/* Font colors */
.text-primary {
  color: #0f006f; /* dark blue */
}

.text-accent {
  color: #FF7E00; /* orange/yellow accent */
}

/* Typography */
.font-light {
  font-weight: 300;
}

.font-semibold {
  font-weight: 600;
}

.text-4xl {
  font-size: 2.25rem;
}

.text-lg {
  font-size: 1.125rem;
}
