/* Tailwind base, components, utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom root variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Calibri, 'Microsoft Sans Serif', sans-serif;
}

header:hover {
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.4);
  transition: box-shadow 0.5s ease-in-out;
}
